* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(180deg,rgba(20,50,80,.1),rgba(20,50,80,.5));
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

main {
    margin: 30px auto;
    width: 500px;
    padding: 20px;
    background-color: rgba(20,50,80,.8);
    border-radius: 10px;
}

h1 {
    color: rgba(150,200,220,0.6);
    text-align: center;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    background-color:rgba(150,200,220,0.9);
    border-radius: 5px;
    padding: 20px;
    color: rgba(20,50,80,1);
}

.date {
    font-size: 1.5rem;
}

.input {
    display: flex;
    margin: 20px 0 20px 0;
}

.input__field {
    flex: 80%;
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 10px;
    font-style: italic;
}

.input__button {
    flex: 15%;
    font-size: 2.5rem;
    cursor: pointer;
}